@charset "UTF-8";
@keyframes coeur {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
header {
  display: flex;
  justify-content: center;
}
header h1 {
  font-size: 2.5em;
}
header a {
  text-decoration: none;
  position: absolute;
  top: 50px;
  left: 40px;
  font-size: 120%;
  color: black;
}

.ville {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  padding: 20px 0;
  border-top: 2px solid #bdbcbc;
  font-size: 1.2em;
}
.ville input {
  border: none;
  background-color: inherit;
  font-weight: bold;
  font-size: inherit;
  margin-left: 10px;
}
.ville input:focus {
  outline: none;
}
.ville input::placeholder {
  text-align: center;
}

.présentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f5f5;
  padding-bottom: 70px;
  font-size: 1.5em;
  text-align: center;
}
.présentation h2 {
  font-weight: 1000;
}
.présentation p {
  font-weight: lighter;
}
.présentation .bouton {
  padding: 20px;
  border-radius: 60px;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
  color: white;
  box-shadow: 2px 4px 1px #c2c2c2;
  cursor: pointer;
}
.présentation .bouton:hover {
  background: linear-gradient(175deg, #ff93e1 10%, #a16be0 90%);
}

.fonction {
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 10px 0;
  width: auto;
  max-width: 500px;
  gap: 30px;
  background-color: #f7f5f5;
  box-shadow: 2px 2px 2px lightgray;
}
.fonction span {
  display: flex;
  border-radius: 50px;
  background-color: #9356DC;
  justify-content: center;
  align-items: center;
  color: white;
  margin: -15px;
  width: 25px;
  height: 25px;
}
.fonction .fas {
  color: grey;
  font-size: 120%;
}
.fonction p {
  padding: 0 10px;
  font-weight: bold;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px;
}
.fonctionnement .fonction:hover {
  background-color: #ece1f9;
}
.fonctionnement .fonction:hover .fas {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f7f5f5;
  padding-bottom: 60px;
}

.liste_restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.menu_carte {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  position: relative;
  width: 400px;
  height: 300px;
  box-shadow: 2px 2px 2px lightgray;
}
.menu_carte .photo {
  display: block;
  overflow: hidden;
  width: 400px;
  height: 230px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-position: 0 -60px;
}
.menu_carte .photo2 {
  height: 210px;
  margin-bottom: 20px;
  object-position: 0 -180px;
}
.menu_carte .image {
  position: relative;
}
.menu_carte .image .nouveau {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  font-weight: 800;
  color: #278870;
  background-color: #99E2D0;
  border-radius: 5px;
}
.menu_carte h5 {
  font-size: 1.3em;
  margin: 0;
  margin-left: 10px;
}
.menu_carte p {
  margin: 3px 10px;
  font-size: 1.1em;
}
.menu_carte .lien {
  text-decoration: none;
  color: black;
}
.menu_carte .far {
  position: absolute;
  bottom: 10%;
  right: 8%;
  font-size: 200%;
  color: black;
  z-index: 2;
}
.menu_carte .far:active + .fas {
  opacity: 1;
  animation: coeur 1s forwards;
}
.menu_carte .fas {
  position: absolute;
  bottom: 10%;
  right: 8%;
  font-size: 200%;
  color: #9356DC;
  z-index: 1;
  opacity: 0;
}

footer {
  background-color: #353535;
  color: white;
  position: relative;
  margin-top: -20px;
  padding-bottom: 20px;
  font-size: 1.2em;
}
footer h3 {
  padding: 20px 0 0 20px;
  font-weight: normal;
}
footer ul {
  list-style: none;
}
footer li {
  margin: 5px;
}
footer li .fas {
  padding-right: 10px;
  width: 20px;
  height: auto;
  font-size: 80%;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  text-decoration: underline;
}

.menu {
  display: flex;
  flex-direction: column;
}
.menu .photo_menu {
  width: 600px;
  overflow: hidden;
}

body {
  font-family: Roboto, sans-serif;
}
body h1, body h3 {
  font-family: Shrikhand, cursive;
}

/*# sourceMappingURL=style.css.map */
