

@import "utils/variables";
@import "utils/mixins";
@import "utils/fonction";
@import "partials/loader";
@import "partials/_header.scss";
@import "partials/recherche";
@import "partials/fonctionnement";
@import "partials/restaurants";
@import "partials/footer";
@import "partials/menu";
/*@import "partials/mediaqueries";*/
html{
    font-size: 100%;
}
body{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    h1,h3{
        font-family: Shrikhand, cursive;
    }
}
.accueil{
    width: 100%;
    min-height: 100vh;
}