@keyframes coeur {
    0%{
        transform: scale(0.1);   
    }
    100%{ 
        transform: scale(1);
    }
    
}

@keyframes choix {
    0% {
      width: 30px;
    }
    100% {
    color: white;
      width: 150px;     
    }
  }
@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

@keyframes transition_menu{
    0% {
        transform: translateX(1000px);
        opacity: 0;
      }
      100% {
            transform: translateX(0);
        opacity: 1;
      }
    
}

@keyframes chargement{
  0%{
      transform: rotate(0deg);
  }
  99.9%{
    transform: rotate(720deg);
    opacity:1;
  }
  100%{
      
      opacity:0;
      transform:translatex(-1000px);
  }
}
@keyframes disparition{
  0%{
    opacity:1
  }
  99.9%{
    transform:translatex(0);
    opacity:1;
  }
  100%{
    opacity:0;
    transform:translatex(-1000px);
  }
}
