@keyframes coeur {
    0%{
        transform: scale(0.1);
        
    }
    
    

    100%{
        
        transform: scale(1);
    }
    
}

@keyframes choix {
    0% {
      
      width: 30px;
    }
    50%{
        color: white;
        width: 70px;
    }
    100% {
        color: white;
      width: 150px;
    }
  }

