@mixin bouton {
    padding: 20px;
    border-radius: 60px;
    background:linear-gradient(175deg,$couleur_secondaire 10%, $couleur_primaire 90%);
    color: white;
    box-shadow: 2px 4px 1px rgb(194, 194, 194);
    cursor: pointer;
    &:hover{
        background:linear-gradient(175deg,lighten($couleur_secondaire,5) 10%, lighten($couleur_primaire,5) 90%);
    }
}

@mixin coeurvide{
    position: relative;
        font-size: 200%;
        color:black;
        z-index: 2;
       
}
@mixin coeurplein{
    position: absolute;
        
        left: 0%;
        font-size: 200%;
        color:$couleur_primaire;
        z-index: 1;
        opacity:0;
}