@media screen and (min-width:820px){

    .fonctionnement{
        flex-direction: row;
        justify-content: space-around;
        .fonction{
            width: 800px;
        }
        
        
    }

    .liste_restaurants{
        flex-direction: row;
        flex-wrap: wrap;
        gap:20px;
        justify-content: center;
    }
    footer ul{
        display: flex;
        justify-content: space-around;
    }
    .menu_carte{
        width: 40%;
        
    }

}
@media screen and (min-width: 1315px){
    .liste_menu{
        display: flex;
        justify-content: space-around;
        .entrées,.plats,.desserts{
            width: 33%;
        }
    }
    .menu_carte{
        width: 20%;
    }
    .liste_restaurants{
        justify-content: space-around;
        gap: 0;
    }
}