.photo_menu{
        
    height: 300px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    }
.menu{
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 245, 245);
  
    .titre{
        background-color: rgb(247, 245, 245);
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        margin-top: -60px;
    }
}

.entrées{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
    p,h5{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
    }
}

.menu_choix{
    box-sizing: border-box;
    display: flex;
    box-shadow: 4px 4px 12px #bfbfbf;
    margin-bottom: 25px;
    justify-content: space-between; 
    padding: 0 7px;
    border-radius: 15px;
    cursor: pointer;
    .entrée_titre{
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
       h5{
        font-size: 1.3em;
         margin: 10px 0 0 0;
        }
    }
    .prix{
        font-weight: 600;
    position: relative;
    align-self: flex-end;
    margin-left: auto;
    padding: 8px 20px;
    }
    .fas {
    border-radius: 0px 15px 15px 0px;
    right: -7px;
    height: 86px;
    color: transparent;
    font-size: 150%;
    }
    input{
        display: none;
    }
    input:checked + .fas {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 10px;
    border-radius: 0px 12px 12px 0px;
    background-color: #99e2d0;
    transition-duration: 1s;
    animation: choix 0.8 ease-out both;
    
}
}





