.photo_menu{
        
    height: 300px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    }
.menu{
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 245, 245);
  
    .titre{
        position: relative;
        background-color: rgb(247, 245, 245);
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        margin-top: -60px;
        padding-left: 20px;
        .far{
            @include coeurvide;
            bottom: 30%;
        }
        .fas{
            @include coeurplein; 
            bottom: 30%; 
        }
    }
    h2{
        font-weight: normal;
        span{
        border-bottom: 4px solid $couleur_tertiaire;
        }
    }
    .commande{
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
   
        .bouton{
             @include bouton;
             width: 300px;
             text-align: center;
             font-size: 1.5em;
    }
 }
}

.entrées,.plats,.desserts{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    p,h5{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
    }
    .plat_1{
        animation: transition_menu 1s ease-out both;
    }
    .plat_2{
        animation: transition_menu 1s ease-out both;
        animation-delay: 0.2s;
    }
    .plat_3{
        animation: transition_menu 1s ease-out both;
        animation-delay: 0.4s;
    }
}

.menu_choix{
    box-sizing: border-box;
    display: flex;
    box-shadow: 4px 4px 12px #bfbfbf;
    margin-bottom: 25px;
    justify-content: space-between; 
    padding: 0 7px;
    border-radius: 15px;
    cursor: pointer;
    .entrée_titre{
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
       h5{
        font-size: 1.3em;
         margin: 10px 0 0 0;
        }
    }
    .prix{
        font-weight: 600;
    position: relative;
    align-self: flex-end;
    margin-left: auto;
    padding: 8px 20px;
    }
    .validation {
    border-radius: 0px 15px 15px 0px;
    right: -7px;
    height: 86px;
    color: transparent;
    font-size: 150%;
    }
    input{
        display: none;
    }
     
    input:checked + .validation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 10px;
    border-radius: 0px 12px 12px 0px;
    background-color: $couleur_tertiaire;
    transition-duration: 1s;
    animation: choix 0.8s ease-in-out both;
    .fas{
        animation: rotation 1s ease-in-out both;
    }

    }
    
    
}





