.restaurants{
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 245, 245);
    padding-bottom: 60px;
}
.liste_restaurants{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}



.menu_carte{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    position: relative;
    width: 400px;
    height: 300px;
    box-shadow: 2px 2px 2px lightgray;
         
    .photo{
        display: block;
        overflow: hidden;
        width: 400px;
        height: 230px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-position: 0 -60px;
        }
    .photo2{
        height: 210px;
        margin-bottom: 20px;
        object-position: 0 -180px;
    }
    .image{
        position: relative;
        .nouveau{
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 8px 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 0.9em;
        font-weight: 800;
        color: darken( $couleur_tertiaire , 40);
        background-color: $couleur_tertiaire;
        border-radius: 5px;
        }
    }
    
    h5{
        font-size: 1.3em;
        margin: 0;
        margin-left: 10px;
    }
    p{
        margin: 3px 10px;
        font-size: 1.1em;
    } 
    .lien{
        text-decoration: none;
        color:black;
    }
    .far{
        @include coeurvide;
    }
    .fas{
        @include coeurplein;  
    }
    
    
}