.restaurants{
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 245, 245);
    padding-bottom: 60px;
}
.liste_restaurants{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}



.menu_carte{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    position: relative;
    width: 350px;
    height: 250px;
    box-shadow: 2px 2px 2px lightgray;
         
    .photo{
        display: block;
        overflow: hidden;
        width: 350px;
        height: 180px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-position: 0 -60px;
        }
    .photo2{
        height: 170px;
        margin-bottom: 20px;
        object-position: 0 -180px;
    }
    .image{
        position: relative;
        .nouveau{
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 8px 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 0.9em;
        font-weight: 800;
        color: darken( $couleur_tertiaire , 40);
        background-color: $couleur_tertiaire;
        border-radius: 5px;
        }
    }
    
    h5{
        font-size: 1.3em;
        margin: 0;
        margin-left: 10px;
    }
    p{
        margin: 3px 10px;
        font-size: 1.1em;
    } 
    .lien{
        text-decoration: none;
        color:black;
    }
    
    
    
}

.restau_choix{
    box-sizing: border-box;
    display: flex;
    position: absolute;
    bottom: 10%;
    right: 8%;
    
    justify-content: space-between; 
    
    
    span{
        position: relative;
    }
    .far{
        box-sizing: border-box;
        position: relative;
        font-size: 200%;
        color:black;
        z-index: 2;
    }
    .fas{
        position: absolute;
        left: 0%;
        font-size: 200%;
        color:$couleur_primaire;
        z-index: 1;
        opacity:0;  
    }
    input{
        display: none;
    }
    input:checked +.fas{
        opacity:1;
        animation: coeur 1s forwards;
    }
}